body{
    text-align: center;
}
div{
    float: left;
}
#Music
{
    position : relative ;
}
#container{
    vertical-align: central;
    padding: 5%;
    text-align: center;
}

.dropper {
    width: 100px;
    height: 100px;
    background-color: lightgray;
}

.draggable {
    display: block;
    width: 100px;
    height: 100px;
    color: cyan;
    background-color: lightgray;
    text-align: center;
    cursor: move;
    float: left;
    margin: 0;
    padding: 0;
}

#fragments{
    border: 10px double black;
    margin: auto;
    float: none;
    vertical-align:middle;
    display: block;
}

#timer{
    float: none;
    border: 5px double black;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#solution{
    width: 300px;
    height: auto;
}

#instruction{
    text-align: center;
}
.solved {
    cursor: auto;
    width: 100px;
    height: 100px;
}
#menu{
    display: block;
}